// 修改主题页面布局为圆角
$border-radius-inner            = 10px 10px 10px 10px;
$border-radius                  = 10px;

// 阅读全文按钮为圆角
//$btn-default-radius           = 16px
//$btn-default-bg               = white
//$btn-default-color            = $text-color
//$btn-default-border-color     = $text-color
//$btn-default-hover-color      = white
//$btn-default-hover-bg         = $black-deep